<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
         <add name="homeopathyproject.Properties.Settings.dbHomeopathyConnectionString"
            connectionString="Data Source=ABHIJITBHINGARE\MSSQL;Initial Catalog=dbHomeopathy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
       <!--<add name="homeopathyproject.Properties.Settings.dbHomeopathyConnectionString"
            connectionString="Data Source=COM135\SQLEXPRESS;Initial Catalog=dbHomeopathy;Integrated Security=True"
            providerName="System.Data.SqlClient"--> 
      <add name="dbconn" connectionString ="Data Source=ABHIJITBHINGARE\MSSQL;Initial Catalog=dbHomeopathy;Integrated Security=True"/>

      <!--<add name="dbconn" connectionString =".\SQLEXPRESS;Integrated Security=True"/>-->


    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>